<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="p-4 border rounded" style="width: 300px;">
    <h5 class="text-center mb-3">Cambiar Contraseña</h5>

    <!-- Input contraseña -->
    <input
      type="password"
      [(ngModel)]="password"
      class="form-control form-control-sm mb-2"
      placeholder="Nueva contraseña"
    />

    <!-- Botón -->
    <button
      class="btn btn-primary btn-sm w-100"
      (click)="changePassword()"
      [disabled]="!password || loading"
    >
      {{ loading ? 'Cambiando...' : 'Cambiar' }}
    </button>

    <!-- Spinner centrado -->
    <div class="text-center mt-2" *ngIf="loading">
      <app-spinner></app-spinner>
    </div>
  </div>
</div>
