<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">

    <a class="navbar-brand" routerLink="/dashboard">Aplicación</a>

    <div class="d-flex gap-2">

      <ng-container *ngIf="rolUsuario === 'ADMIN'">
        <a class="btn btn-outline-primary" [routerLink]="['/sign']" [queryParams]="{ rol: 'ABOGADA' }">
          Nueva Abogada
        </a>
        <a class="btn btn-outline-secondary" [routerLink]="['/sign']" [queryParams]="{ rol: 'CLIENTE' }">
          Nuevo Cliente
        </a>
      </ng-container>

      <ng-container *ngIf="rolUsuario === 'ABOGADA'">
        <a class="btn btn-outline-primary" [routerLink]="['/sign']" [queryParams]="{ rol: 'CLIENTE' }">
          Nuevo Cliente
        </a>
      </ng-container>

      <ng-container *ngIf="rolUsuario === 'CLIENTE'">
        <span class="navbar-text">Cliente</span>
      </ng-container>

      <button class="btn btn-outline-danger" (click)="logout()">Logout</button>

    </div>
  </div>
</nav>

