<!-- <div class="container mt-4">
  <h2 class="mb-4 text-primary">📊 Dashboard de Casos</h2>
  <button class="btn btn-dark" (click)="toggleModo()">
    {{ modoOscuro ? "☀️ Claro" : "🌙 Oscuro" }}
  </button> -->
  <div class="container mt-4" [ngClass]="modoOscuro ? 'dark-mode' : 'light-mode'">

  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="text-primary">📊 Dashboard de Casos</h2>

    <button class="btn btn-dark" (click)="toggleModo()">
      {{ modoOscuro ? "☀️ Claro" : "🌙 Oscuro" }}
    </button>
  </div>
  <!--  CARDS -->
  <div class="row g-3 mb-4">
    <div class="col-md-3">
      <!-- ICONO -->
      <div class="icon-circle bg-primary text-white">
        <i class="fas fa-folder"></i>
      </div>
      <div class="card shadow text-center p-3">
        <h6>Total</h6>
        <h3>{{ casos.length }}</h3>
      </div>
    </div>

    <div class="col-md-3">
      <div class="icon-circle bg-warning text-white">
        <i class="fas fa-clock"></i>
      </div>
      <div class="card shadow text-center p-3 border-warning">
        <h6 class="text-warning">Pendientes</h6>
        <h3>{{ pendientes }}</h3>
      </div>
    </div>

    <div class="col-md-3">
      <div class="icon-circle bg-info text-white">
        <i class="fas fa-spinner"></i>
      </div>
      <div class="card shadow text-center p-3 border-primary">
        <h6 class="text-primary">En trámite</h6>
        <h3>{{ enTramite }}</h3>
      </div>
    </div>

    <div class="col-md-3">
      <div class="icon-circle bg-success text-white">
        <i class="fas fa-check-circle"></i>
      </div>
      <div class="card shadow text-center p-3 border-success">
        <h6 class="text-success">Completados</h6>
        <h3>{{ completados }}</h3>
      </div>
    </div>
  </div>

  <!--  FILA 1: DOS GRÁFICOS -->
  <div class="row g-4">
    <!-- GRÁFICO ESTADOS -->
    <div class="col-md-6">
      <div class="card shadow p-4">
        <h5 class="mb-3">Estados de casos</h5>
        <div style="height: 350px">
          <canvas id="graficoCasos"></canvas>
        </div>
      </div>
    </div>

    <!-- GRÁFICO POR MES -->
    <div class="col-md-6">
      <div class="card shadow p-4">
        <h5 class="mb-3">Casos por mes</h5>
        <div style="height: 350px">
          <canvas id="graficoMeses"></canvas>
        </div>
      </div>
    </div>
  </div>

  <!--  FILA 2: GRÁFICO GRANDE -->
  <div class="row mt-4">
    <div class="col-12">
      <div class="card shadow p-4">
        <h5 class="mb-3">📈 Evolución de casos</h5>
        <div style="height: 400px">
          <canvas id="graficoEvolucion"></canvas>
        </div>
      </div>
    </div>
  </div>

  <!-- ALERTAS -->
  <div *ngIf="casosAtrasados.length" class="alert alert-danger mt-4">
    <h5>Casos atrasados</h5>
    <ul>
      <li *ngFor="let caso of casosAtrasados">
        Caso : {{ caso.tipoTramite?.descripcion }} - {{ caso.cliente?.nombre }}
        {{ caso.cliente?.apellido }}, DNI: {{ caso.cliente?.dni }}
      </li>
    </ul>
  </div>
</div>
