


<div class="wrapper">

  <div class="body">
    <img src="log.png" class="logo" alt="img login" />
    <h3>Login</h3>
<div class="form-floating mb-3">
  <input type="text" [(ngModel)]="email" class="form-control" placeholder="ingrese usuario">
  <label>Usuario</label>
</div>

<div class="form-floating mb-3">
  <input type="password"  [(ngModel)]="password" class="form-control"  placeholder="ingrese password">
  <label >Password</label>
</div>


<div class="d-grid gap-2">
<!-- [routerLink]="['/dashboard']"  -->
<button type="button" class="btn btn-primary" btn-large (click)="login()" >aceptar</button>
<p class="mb-3">No tiene cuenta?  

      <a [routerLink]="['/signIn']" class="text-primary text-decoration-none">Registrar</a>

   </p>
</div>

  </div>
    <app-spinner  *ngIf="loading"></app-spinner>

</div>
